{% extends 'base_public.html' %}

{% block title %}Sobre Nós{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='sobre.css') }}">
{% endblock %}

{% block content %}
<section>
  <div class="container">
    <h1 class="text-center">Nosso Time</h1>

    <div class="spacer spacer-30"></div>
    <h2 class="text-center">👥 Integrantes</h2>

    <div class="spacer spacer-20"></div>

      <div class="team">
        <div class="member-card">
          <div class="photo">
            <img src="{{ url_for('static', filename='img/abner.jpg') }}">
          </div>
          <div class="name">Abner Antonio Américo</div>
        </div>

        <div class="member-card">
          <div class="photo">
            <img src="{{ url_for('static', filename='img/davi.png') }}">
          </div>
          <div class="name">Davi Porto Izabel</div>
        </div>

        <div class="member-card">
          <div class="photo">
            <img src="{{ url_for('static', filename='img/coletto.jpg') }}">
          </div>
          <div class="name">Felipe Gotardo Coletto</div>
        </div>

        <div class="member-card">
          <div class="photo">
            <img src="{{ url_for('static', filename='img/silva.jpg') }}">
          </div>
          <div class="name">Gustavo da Silva de Oliveira</div>
        </div>


        <!-- repita para os demais integrantes -->
      </div>
      <div class="spacer spacer-20"></div>

      <p class="text-center lead">Somos um grupo de estudantes interessados por tecnologia e comprometidos com a sustentabilidade. Acreditamos que, com inovação e conscientização, podemos fazer a diferença no mundo.</p>

      <div class="spacer spacer-15"></div>

      <h1 class="text-center">Sobre Nós</h1>
      <p class="text-justify lead">O Aqua Alert nasceu da ideia de unir tecnologia e
        sustentabilidade para enfrentar um dos maiores desafios do
        mundo
        moderno: o desperdício de água.

        Nosso sistema utiliza um medidor de vazão conectado a um ESP32, que envia os dados para um banco de dados
        online.
        A
        partir disso, o usuário pode acessar um site intuitivo e acompanhar seu consumo diário, semanal e mensal,
        recebendo
        também alertas de possíveis vazamentos e dicas para economizar água.

      </p>
      <div class="spacer spacer-30"></div>






      <section id="beneficios" class="benefits">
        <div class="container">
          <h2 class="section-title text-center">🌱 Nosso Valores</h2>
          <div class="spacer spacer-15"></div>

          <div class="benefits-grid">
            <div class="benefit-card">
              <i class="fas fa-money-bill-wave"></i>
              <h3>Sustentabilidade:
                <br> cada gota conta.</h3>

            </div>
            <div class="benefit-card">
              <i class="fas fa-leaf"></i>
              <h3>Inovação: 
                <br> tecnologia a favor do meio ambiente.</h3>

            </div>
            <div class="benefit-card">
              <i class="fas fa-chart-line"></i>
              <h3>Conscientização: 
                <br> informação para transformar hábitos.</h3>

            </div>
            <div class="benefit-card">
              <i class="fas fa-shield-alt"></i>
              <h3>Responsabilidade: 
                <br> cuidar hoje para garantir o amanhã.</h3>

            </div>

          </div>
        </div>
        <div class="spacer spacer-30"></div>
        <div class="team">
        <div class="card-v">
          <div class="name">🚀 Nossa Missão</div>
          <p class="text-center">Promover o uso consciente da água, ajudando pessoas e famílias a reduzir
            desperdícios e a adotar hábitos mais
            sustentáveis no dia a dia.
          </p>
        </div>

        <div class="card-v">
          <div class="name">👁 Nossa Visão</div>
          <p class="text-center">Ser referência em soluções acessíveis de monitoramento ambiental, incentivando uma sociedade mais consciente e responsável com os recursos naturais.</p>
        </div>
      </div>
      </section>

      <div class="spacer spacer-30"></div>

      <!-- img src="{{ url_for('static', filename='img/terno.png') }}" alt="Nosso grupo" " -->
</section>
{% endblock %}