<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='teste.css') }}">
</head>
<body>
    <section>
<div class="container">
<h1>Sobre Nós</h1>
<p>O Aqua Alert nasceu da ideia de unir tecnologia e sustentabilidade para enfrentar um dos maiores desafios do mundo
  moderno: o desperdício de água.

  Nosso sistema utiliza um medidor de vazão conectado a um ESP32, que envia os dados para um banco de dados online. A
  partir disso, o usuário pode acessar um site intuitivo e acompanhar seu consumo diário, semanal e mensal, recebendo
  também alertas de possíveis vazamentos e dicas para economizar água.

</p>
<h2>🚀 Nossa Missão</h2>
<p>Promover o uso consciente da água, ajudando pessoas e famílias a reduzir desperdícios e a adotar hábitos mais sustentáveis no dia a dia.
</p>

<h2>👁 Nossa Visão</h2>
<p>Ser referência em soluções acessíveis de monitoramento ambiental, incentivando uma sociedade mais consciente e responsável com os recursos naturais.
</p>

<h2>🌱 Nosso Valores</h2>
<p>Sustentabilidade: cada gota conta.<br>

Inovação: tecnologia a favor do meio ambiente.<br>

Conscientização: informação para transformar hábitos.<br>

Responsabilidade: cuidar hoje para garantir o amanhã.
</p>

<h2>Nosso Time</h2>

<p>Somos um grupo de estudantes interessados por tecnologia e comprometidos com a sustentabilidade. Acreditamos que, com inovação e conscientização, podemos fazer a diferença no mundo.</p>

<h2>👥 Integrantes</h2>
<h3>Abner Antonio Américo <br>

Gustavo da Silva de Oliveira<br>

Davi Porto Izabel<br>

Felipe Gotardo Coletto</h3>
</div>





<img src="{{ url_for('static', filename='img/terno.png') }}" alt="Nosso grupo" ">
</section>
</body>
</html>